body {
    margin:0 auto;
    font-size: 2rem;

    background-color:black;

  }
  
  .bar{
    list-style-type: none;
    display: flex;
  }

  .text-link {
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-link:hover {

    color: black;
  }
  
  header {
    width:100%;
    top:45px;
  }
  .services{
    background-color:black;

  
  }
  footer{
 

    color: ##AC58FA;
    padding: 100px;
  }
  footer{
    color: black;

    text-align: center;
  }
  